h1 {
  font-weight: bold;
  font-family: 'Pixel Font', sans-serif !important;
  text-align: center !important;
  display: inline-block;
  margin-top: 50px;
  font-size: 36px;
}
.card-header {
	font-family: 'Pixel Font', sans-serif !important;
}
label {
	white-space: nowrap;
  }
footer {
	height: 20px; /* adjust the value as needed */
	}
  
form {
    font-size: 20px;
    text-align: center;
    font-family: 'Pixel Font', sans-serif;
  }
.form-group {
    font-size: 20px;
    display: inline-block;
    text-align: left;
    font-family: 'Pixel Font', sans-serif;
  } 
  
  label {
    text-align: center;
    width: 100px; /* optional: set a fixed width to the label to create consistent spacing */
    display: inline-block; /* optional: set the label to be an inline-block element */
    font-family: 'Pixel Font', sans-serif;
  }

  input[type="submit"] {
    background-color: #4CAF50; /* set the background color */
    border: none; /* remove the border */
    color: white; /* set the text color */
    padding: 10px 20px; /* set the padding */
    text-align: center; /* center the text */
    text-decoration: none; /* remove the underline */
    display: inline-block; /* set the display type */
    font-size: 16px; /* set the font size */
    margin: 4px 2px; /* set the margin */
    cursor: pointer; /* set the cursor type */
    border-radius: 5px; /* set the border radius */
    font-family: 'Pixel Font', sans-serif;
  }
  .form-control {
		box-shadow: none;
		border-radius: 4px;        
    border-color: #dfe3e8;
	}
  
	.form-control:focus {
		border-color: #29c68c;
		box-shadow: 0 0 8px rgba(0,0,0,0.1);
	}

	.navbar {
		background: #2e2c2c;
		padding-left: 16px;
		padding-right: 16px;
		border-bottom: 1px solid #2e2c2c;
		border-radius: 0;
    font-family: 'Pixel Font', sans-serif;
	}

  
	.navbar .navbar-brand {
    font-weight:bold;
		font-size: 25px;
    color:rgb(255, 255, 255) !important;
		padding-left: 0;
		padding-right: 0px;
    font-family: 'Pixel Font', sans-serif;
	}

  .navbar-brand .col:first-child {
  padding-right: 2px;
}

.navbar-brand .col:last-child {
  padding-left: 0px;
}

	.navbar .navbar-brand b {
    font-weight:bold;
    font-size: 25px;
		color: #be3c0c;		
    font-family: 'Pixel Font', sans-serif;
	}
	.navbar ul.nav li a {
		color: #999;
    font-size: 20px !important;
    padding-right: 10px;
    padding-left: 10px; 
    font-family: 'Pixel Font', sans-serif; 
	}
  .navbar-nav li a {
	color: #ecf0f1 !important;
    font-size: 20px !important;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Pixel Font', sans-serif;
  }

  .reg-link {
	color: #096d86 !important;
    font-size: 20px !important;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Pixel Font', sans-serif;
  }
  
	.navbar ul.nav li a:hover, .navbar ul.nav li a:focus {
		color: #060606 !important;
	}
	.navbar ul.nav li.active > a, .navbar ul.nav li.open > a {
		color: #9cafa7 !important;
		background: transparent !important;
	}
    .navbar .form-inline .input-group-addon {
		box-shadow: none;
        border-radius: 2px 0 0 2px;
		background: #f5f5f5;
        border-color: #dfe3e8;
        font-size: 16px;
    }
	.navbar .form-inline i {
		font-size: 16px;
	}
	.navbar .form-inline .btn {
		border-radius: 2px;
		color: #fff;
        border-color: #29c68c;
		background: #29c68c;
		outline: none;
	}
	.navbar .form-inline .btn:hover, .navbar .form-inline .btn:focus {
        border-color: #29c68c;
		background: #29c68c;
    }

	.navbar .login-form .input-group {
		margin-right: 4px;
		float: left;
	}
	.navbar .login-form .form-control {
		max-width: 158px;
		border-radius: 0 2px 2px 0;
	}    	
	.navbar .navbar-right .dropdown-toggle::after {
		display: none;
	}
	.navbar .dropdown-menu {
		border-radius: 1px;
		border-color: #e5e5e5;
		box-shadow: 0 2px 8px rgba(0,0,0,.05);
	}
	.navbar .dropdown-menu li a {
		padding: 6px 20px;
	}
	.login-dd {
		background-color: #2e2c2c !important;
		border: 2px solid #ffffff;
	  }
	  
	  
	.navbar .navbar-right .dropdown-menu {
		width: 505px;
		padding: 20px;
		left: auto;
		right: 0;
        font-size: 14px;
	}
	@media (min-width: 1200px){
		.search-form .input-group {
			width: 300px;
			margin-left: 30px;
		}
	}
	@media (max-width: 768px){
		.navbar .navbar-right .dropdown-menu {
			width: 100%;
			background: transparent;
			padding: 10px 20px;
		}
		.navbar .input-group {
			width: 100%;
			margin-bottom: 15px;
		}
		.navbar .input-group .form-control {
			max-width: none;			
		}
		.navbar .login-form .btn {
			width: 100%;
		}
	}

