*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* Poké Styles */
  .pokeball {
    margin-inline-start: 25px;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 200px;
    background: #fff;
    border: 10px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
  }
  .pokeball::before,
  .pokeball::after {
    content:"";
    position: absolute;
    justify-content: center;
  }
  .pokeball::before {
    background: red;
    width: 100%;
    height: 50%;
  }
  .pokeball::after {
    top: calc(50% - 10px);
    width: 100%;
    height: 20px;
    background: #000;
  }
  .pokeball__button {
    justify-content: center;
    position: absolute;
    align-items: center;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background: #7f8c8d;
    border: 10px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 10px black;
    animation: blink .5s alternate 7;
  }

  h1 {
    font-weight: bold;
    font-family: 'Pixel Font', sans-serif !important;
    text-align: center !important;
    display: inline-block;
    margin-top: 20px;
    margin-block-end: auto;
    font-size: 36px;
  }
  